/*! Author: rrs.arq.br */

@font-face {
    font-family: "Fira Sans Light";
    src: url("../webfonts/FiraSans-Light.ttf");
    font-display: swap;
}
@font-face {
    font-family: "Fira Sans Light-Italic";
    src: url("../webfonts/FiraSans-LightItalic.ttf");
    font-display: swap;
}

/***** Estilos gerais *****/

:root {
    /* Cores como variáveis facilitam alterações posteriores */
    --cinzaEscuro: rgb(34, 34, 34);
    --cinzaClaro: #eaecee;
    --corFooter:#eaecee;
    --corLink: #1801a2;
    --corNav: black;
    --corVisitado: #6801a2;
    --corTextoNav: white;
    --corLinha: white;
    --corFundoPrincipal: white;
}

a {
    color: var(--corLink);
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    border-bottom: .1em solid var(--corLink);
}

a:focus-visible {
    outline: none;
    box-shadow: 0 0 0 4px var(--corLink);
}

a:visited {
    color: var(--corVisitado);
}

a:visited:hover {
    border-bottom: .1em solid var(--corVisitado);
}

a, h1, h2, h3, h4, h5, h6, p, em, li, span, label, input {
    font-family: 'Fira Sans Light', 'Segoe UI', sans-serif;
}

body {
    margin: 0;
    padding:0;
    display:flex; /* Incluído para garantir footer fixo*/
    justify-content: center; 
    flex-direction: column; /* Incluído para garantir footer fixo*/
    background-image:  linear-gradient(rgba(0,0, 0, .5), rgba(10,10,10, .5)), url('../img/RRSARQ_HEADER_o.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh; /* Incluído para garantir footer fixo*/
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

strong {
    font-weight: 700;
}

/*****  Header  *****/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*** Nav ***/

nav {
    background-color: var(--corNav);
    box-shadow: 0px 2px 2px 2px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 4em;
    position: fixed;
    width: 100%;
    cursor: pointer;
}

.menu {
    display:flex;
    justify-content: space-around;
    width:100%;
    align-items: center;
    list-style-type: none;
    padding-left:0;
}

.menuItem {
    padding:.8em;
    border-top: .2em solid var(--corNav);
    width:70px;
    text-align: center;
    display: block; /* Aumenta área clicável no link, pode definir height e width */
}

.menuItem:hover {
    border-top: .2em solid var(--corTextoNav);
    color: var(--cinzaClaro);  
}

.menuItem:focus-within { /*focus-within permitir estilizar o elemento pai do elemento que é focado, nesse caso, a tag <a> */
    border-top: .2em solid var(--corTextoNav); 
}

.menuItem:active {
    background-color: var(--cinzaEscuro)
}

/* Regras para os links da navbar não terem decoração e cores */

.menuLink, .menuLink:hover, .menuLink:visited {
    font-weight: 700;
    font-size: .9em;
    color: var(--corTextoNav);
    text-decoration: none !important;
    border-bottom: none; 
    display: block;
    outline: none; /*regra para tirar o outline padrão do navegador em links do menu*/
}

.menuLink:focus-visible { /* Utilizado aqui focus visible para aparecer apenas na navegação pelo teclado, e não com o mouse */
    box-shadow: 0 0 0 2px var(--corTextoNav);
}


.dropdown {
    position: relative;/*necessário para poder definir position:absolute no submenu*/

    /* regras copiadas de menuItem */
    padding:.8em;
    border-top: .2em solid var(--corNav);
    width:70px;
    text-align: center;
    display: block; /* Aumenta área clicável no link, pode definir height e width. */

}

.dropdown:hover {
    border-top: .2em solid var(--corTextoNav);
    color: var(--cinzaClaro);  
}

.dropdown:active {
    background-color: var(--cinzaEscuro);
}

.dropdown:hover .dropdownMenu {
    visibility: visible;
}

.dropdown:focus-within .dropdownMenu { /* regra resolve a navegação dos itens com o teclado */
    visibility: visible;
}

.dropdown:focus-within { /*focus-within permitir estilizar o elemento pai do elemento que é focado, nesse caso, a tag <a> */
    border-top: .2em solid var(--corTextoNav);
     
}

.dropdownMenu {
    visibility: hidden;
    position: absolute;
    top:40px; /*posição do topo do submenu*/
    left: 0px;
    margin-left:0px;
    border-top: none;
    white-space: nowrap;/* regra para deixar o texto por extenso*/
    
}

.social {
    justify-content: flex-end;
    padding-right: 1em;
}

.socialItem {
    padding:.6em;
    border-top: .2em solid var(--corNav);
    width:50px;
    text-align: center;
    display: block; /* Aumenta área clicável no link, pode definir height e width */
}

.socialItem:hover {
    border-top: .2em solid var(--corTextoNav);
}

.socialItem:focus-within { /* Detalhe do focus-within */
    border-top: .2em solid var(--corTextoNav);
}

.socialItem:active {
    background-color: var(--cinzaEscuro);
}

.subMenu{
    list-style-type: none;
    background-color: var(--corNav);
    padding-left: 1em;
    padding-top:.5em;
    padding-bottom:.5em;
}

.subItem:focus-within { /*focus-within permitir estilizar o elemento pai do elemento que é focado, nesse caso, a tag <a> */
    border-left: .2em solid white;
}

.subItem {
    border-left: .2em solid var(--corNav);
    margin-top: .5em;
    margin-right: 1em;
    display: block;
    width: 270px;
    text-align: left;
    padding: .5em 0 .5em 1em;
    
}

.subItem:hover {
    border-left: .2em solid white;
    color: var(--cinzaClaro);
}

.subItem:active {
    background-color: var(--cinzaEscuro);
}

/*** Banner ***/

#banner {
    display:flex;
    color: var(--corTextoNav);
    font-weight:300;
    align-items: center;
    justify-content: center;
    padding:1em;
    padding-top: 4em;
}

.fab {
    font-size: 1.5em;  
}

.fab:hover {
    color: var(--cinzaClaro); 
}

.fa-plus {
    font-size: .5em;
    vertical-align: middle;
}

.linha {
    border-bottom: 2px solid var(--corLinha);
    margin-bottom: 1em;
    width:85%;
    
}

.logo {
    width:100px;
    height:100px;
    padding: 2em 2em 1em 0;
    float:left;
}

.nome {
    margin-top: 1em;
}

.subTitulo {
    font-size: 24px;
}

.titulo {
    font-size: 32px;
}

/*****  Main  *****/

#engseg:target {
    margin-top:-60px; /* Altura da navbar mais uma folga */
    padding-top:60px;
}

#arq:target {
    margin-top:-60px; /* Altura da navbar mais uma folga */
    padding-top:60px;
}

main {
    display:flex;
    justify-content: center;
    padding-bottom:2.5em;
    flex: 1 0 auto; /* Incluído para garantir footer fixo*/        
}

.principal {
    display:flex;
    flex-direction: column;
    background-color: var(--corFundoPrincipal);
    /*min-height: 70%;*/
    width:50%;
    font-weight: 200;
    justify-content: center;
    padding:3em 4em 3em 4em;
    margin-top:1em;
    margin-bottom:5em;
}

.lista {
    list-style-type: none;
}

.listaItem {
    padding: 1em 0 1em 0;
    border-bottom: 1px solid var(--cinzaClaro);
}

.subLista {
    border-bottom: 1px solid var(--cinzaClaro);
    list-style-type: none;
    padding: 1em 0 1em 0;
}

.subListaFim { /* O item final da sublista não tem que ter linha embaixo, nem padding, se não espaço fica mui grande */
    list-style-type: none;
    padding: 1em 0 0 0;
}

.formulario {
    display: flex;
    flex-direction: column;
}

.formGrupo {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

/*****  Footer  *****/

footer {
    background-color: var(--corFooter);
    font-weight:100;
    display:flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 2em 2em 1.5em 2em;
    font-size: .9em;
    flex-shrink: 0; /* Incluído para garantir footer fixo*/
}

.small {
    font-size: .8em;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

a.topo, a.topo:visited {
    color:black;
    font-weight: 300;
}

.fa-caret-up {
    font-size: 1.5em;
    padding-left: .2em;
}

/**** Regras para adaptar tela para celulares ****/

@media screen and (max-width: 690px){
    nav {
        background-color: var(--corNav);
        box-shadow: 0px 2px 2px 2px black;
        display: flex;
        flex-wrap: wrap;
        height: 3em;
        position: fixed;
        width: 100%;
        cursor: pointer;
    }

    .menu {
        display:flex;
        justify-content: space-around;
        width:100%;
        align-items: center;
        list-style-type: none;
        padding-left: 0;
        margin-top: 0;
        margin-bottom:0;
    }

    .menuItem {
        padding:.4em;
        border-top: .2em solid var(--corNav);
        width:70px;
        text-align: center;
        display: block; /* Aumenta área clicável no link, pode definir height e width */
    }

    .menu.social, .socialItem {
        visibility: hidden;
    }

    .menuLink, .menuLink:hover, .menuLink:visited {
        font-size: .8em;

    }

    .dropdownMenu {
        margin-left:-40px;
   
    }

    .subMenu{
        padding-top:0;
        padding-bottom:0;
    }
}